


    <center><img src="~/css/Images/GirlPraying.png" alt="Girl Praying" style="width: 500px;height:300px;"/></center>
    <div>

        <section>
           <center><b><p>We want to pray for you:</p></b></center> 

            <center><b>About Us</b></center>
            <p>
                This site was created to provide support for those that have no one to turn to while experiencing difficult times.  Sometime you just need someone to listen. Sometimes you just need to know someone is praying for you. The Prayer Wall allows you to post your concerns, needs, cries and have your concerns prayed on by others.
            </p>
        </section>
    </div>
  
