

<center><img src="~/css/Images/candles.png" alt="Prayer Candles" style="width: 500px;height:300px;" /></center>
<!DOCTYPE html>


<html>
<head>
    <center> <b>Prayer Chain Sign Up</b></center>



    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">

        <input type="text">
        <input type="submit" a asp-action="Index">
    </form>

    <section>
    </section>

</head>
</html>
