<aside> <img src="candles.png" alt="Prayer Candles"/> </aside>



<Title>Prayer Chain Sign Up</Title>

<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
  
    <input type="text">
    <input type="submit">
</form>

<section>

  

</section>	