

<center><img src="~/css/Images/Video Page.jpg" alt="Viewing Earth's Splendor" style="width: 500px;height:300px;" /></center>
<!DOCTYPE html>


@*<link to video search bar>



 @model IEnumerable<PrayerWall.Models.PrayerWallDbContext>
<br />
<br />
@using (Html.BeginForm("Index",  "Video", "Prayer Request", FormMethod.Get))
{
    @Html.TextBox("Searching")
    <input type="submit" value="Search" />

}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Request Id </th>
            <th>Prayer Subject </th>
            <th>Video Id </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.DefaultIfEmpty) 
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match Any Document
                </td>

            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td> @item.PrayerRequest </td>
                    <td> @item.PrayerSubject </td>
                    <td> @item.Video </td>
                </tr>
            }
        }
    </tbody>
</table>*@











