<!DOCTYPE html>
<html lang="en">
<Head>



    <title>Prayer Wall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <div class="w3-container">

        <div class="w3-bar w3-light-grey w3-border">
            <a href="~/Index" class="w3-bar-item w3-button w3-mobile">Home</a>
            <a asp-action="prayerrequest"> </a>
            <a href="~/PrayerRequest" class="w3-bar-item w3-button w3-mobile">Prayer Request</a>
            <a href="~/PrayerChain" class="w3-bar-item w3-button w3-mobile">Prayer Chain</a>
            <a href="~/VideoRepository" class="w3-bar-item w3-button w3-mobile">Videos</a>
            <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Search..">
            <button class="w3-bar-item w3-button w3-green w3-mobile">Go</button>
            <a asp-action="Index"></a>


        </div>
        <center><h2>VIRTUAL PRAYER WALL</h2></center>


    </div>




    <div class="text-center">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </div>
    <link rel="stylesheet" href="~/css/site.css" />

</Head>

<body>
    <div class="container">

        @RenderBody()


    </div>



</body>



<footer>
    <center>
        <table>
            <tr>



                <th><a asp-action="PrayerRequest"><img src="~/css/Images/button-prayerrequest.jpg" alt="Prayer Request Button"> </a></th>
                <th><a asp-action="PrayerChain"><img src="~/css/Images/button-prayerchain.jpg" alt="Prayer Chain Button"> </a></th>
                <th><a asp-action="VideoRepository"><img src="~/css/Images/button-videos.jpg" alt="Videos"> </a></th>

            </tr>

        </table>
    </center>
</footer>

</html>